<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/products.css">
    <link rel="stylesheet" href="styles/wishlist.css">
    <!-- endbuild -->
</head>
<body ng-app="codewars2016App">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">codewars2016</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ng-if="!!globals && !!globals.currentUser"><a href="#/product">Products</a></li>
                    <li ng-if="!!globals && !!globals.currentUser"><a href="#/wishlist">Wishlists</a></li>
                    <li ng-if="!globals || !globals.currentUser" class="pull-right"><a ng-href="#/signup">Sign Up</a></li>
                    <li ng-if="!globals || !globals.currentUser" class="pull-right"><a ng-href="#/login">Login</a></li>
                    <li ng-if="globals.currentUser.username" class="pull-right user">
                <span uib-dropdown>
                   <a href id="simple-dropdown" uib-dropdown-toggle>
                       Welcome {{globals.currentUser.username}}
                   </a>
                    <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li>
                            <a ng-href="#/logout">Logout</a>
                        </li>
                    </ul>
                </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ng-view=""></div>
</div>

<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from HPE</p>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
            (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>
<script src="main/main.controller.js"></script>
<script src="main/login/login.controller.js"></script>
<script src="main/signup/signup.controller.js"></script>
<script src="main/logout/logout.controller.js"></script>
<script src="main/wishlist/wishlist.controller.js"></script>
<script src="main/products/products.controller.js"></script>
<script src="services/user.service.js"></script>
<script src="services/product.service.js"></script>
<script src="services/wishlist.service.js"></script>
<script src="services/notification.service.js"></script>
<script src="services/Base64.js"></script>
<script src="common/codewars-constants.js"></script>
<script src="main/modal/wishlist-modal/new-wishlist/new-wishlist.controller.js"></script>
<script src="main/modal/wishlist-modal/edit-wishlist/edit-wishlist.controller.js"></script>
<script src="main/modal/wishlist-modal/add-to-wishlist/add-to-wishlist.controller.js"></script>
<!-- endbuild -->
</body>
</html>
