<div>
    <div class="modal-header">
        <h3 class="modal-title">Add to Wishlist</h3>
    </div>
    <div class="modal-body">
        <div class="wishlist" ng-repeat="wishlist in wishlists" track by $index>
            <div class="row">
                <div class="col-lg-3 wishlist-button" ng-click="addToWishlist(wishlist)">{{wishlist.name}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>