<div class="container">

  <form name="signupForm" ng-submit="signup()" class="form-signin">
    <h2 class="form-signup-heading">Please sign up</h2>
    <label for="username" class="sr-only">Username</label>
    <input ng-model="user.username" type="text" id="username" class="form-control" placeholder="Username"
           required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required="">
    <label for="firstname" class="sr-only">First name</label>
    <input ng-model="user.firstName" type="text" id="firstName" class="form-control" placeholder="First name"
           required="" autofocus="">
    <label for="lastname" class="sr-only">Last name</label>
    <input ng-model="user.lastName" type="text" id="lastName" class="form-control" placeholder="Last name"
           required="" autofocus="">
    <label for="email" class="sr-only">Email</label>
    <input ng-model="user.email" type="text" id="email" class="form-control" placeholder="Email"
           required="" autofocus="">

    <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>

</div>
